description "DeckBrew API"

respawn

start on filesystem and net-device-up IFACE=eth0
stop on runlevel [016]

env DECKBREW_HOSTNAME="https://api.deckbrew.com"
env DECKBREW_DATABASE="postgres://brewmaster:{{db_password}}@localhost/deckbrew?sslmode=disable"

setuid brewmaster

script
        chdir /usr/local/gopath/src/github.com/kyleconroy/deckbrew-api
        exec ./brewapi serve
end script

